body {
    background: #363636;
    color: white;
}

.auth {
    background: darkmagenta;
    padding: 20px;
    width: min-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}